:root {
    --dgreen: #04171d;
    --green: #003e39;
    --milkywhite: #e4ecd5;
}


.titleThumbnail {
    height: 10em;
    border-radius: 0.3em;
}

.pure-table {
    background-color: var(--dgreen);
    color: var(--milkywhite);
    width: 100%;
    border: unset !important;
}

.pure-table th {
    background-color: var(--dgreen);
    color: var(--milkywhite);
}

.pure-table-horizontal td,
.pure-table-horizontal th {
    border-bottom: 1px solid var(--green) !important;
}