:root {
    --dgreen: #04171d;
    --green: #003e39;
    --milkywhite: #e4ecd5;
}

body {
    background-color: var(--dgreen);
}

h1,h2,h3,
h4,h5,h6,
p {
    color: var(--milkywhite);
}

.title-wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0.6em 1em 0 1em;
    border-radius: 1em;
    display: flex;
    background-color: var(--green);
}

.title-info {
    flex: 1;
}

.title > * {
    margin: 1em;
}

.title-thumbnail {
    height: 10em;
    border-radius: 0.3em;
}

.title-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
}

.pure-table {
    background-color: var(--dgreen);
    color: var(--milkywhite);
    width: 100%;
    border: unset !important;
}

.pure-table th {
    background-color: var(--dgreen);
    color: var(--milkywhite);
}

.pure-table-horizontal td,
.pure-table-horizontal th {
    border-bottom: 1px solid var(--green) !important;
}

nav {
    background-color: var(--green);
    height: 5rem;
    display: flex;
}

.nav-icon svg {
    fill: var(--milkywhite);
    margin: 1em;
}

form label {
    color: var(--milkywhite);
}

.search-form {
    display: flex;
    margin: 1em;
}

.search-form > * {
    display: block;
    height: 100%;
}

.search-result {
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    border: solid 1px var(--milkywhite);
    border-radius: 1em;
}

.selected-anime {
    display: flex;
}

.selected-anime > div {
    margin: 1em;
}

.selected-anime > img {
    margin: 1em;
    height: 8em;
}