:root {
    --dgreen: #04171d;
    --green: #003e39;
    --milkywhite: #e4ecd5;
}

body {
    background-color: var(--dgreen);
}

h1,h2,h3,
h4,h5,h6,
p {
    color: var(--milkywhite);
}

.title-thumbnail {
    height: 10em;
    border-radius: 0.3em;
}

.pure-table {
    background-color: var(--dgreen);
    color: var(--milkywhite);
    width: 100%;
    border: unset !important;
}

.pure-table th {
    background-color: var(--dgreen);
    color: var(--milkywhite);
}

.pure-table-horizontal td,
.pure-table-horizontal th {
    border-bottom: 1px solid var(--green) !important;
}

nav {
    background-color: var(--green);
    height: 5rem;
    display: flex;
}

.nav-icon svg {
    fill: var(--milkywhite);
    margin: 1em;
}

form label {
    color: var(--milkywhite);
}

.search-input {
    display: block;
    margin: 1em;
}

.search-result {
    display: flex;
    height: 5em;
    margin: 0.5em;
}

.search-result > img {
    max-width: 3.5em;
}